@model MIMM_Shared.Models.Songs

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Songs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Whispertime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Whispertime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idfeeling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idfeeling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdtracksNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdtracksNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
